{% extends 'base.html' %}
{% block title %}Create a new group!{% endblock %}
{% block head %}
<style>
    .background-div::before {
        content: "";
        background-image: url("/static/img/squares_background.svg");
        background-repeat: space;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: .15;
        z-index: -1;
    }
</style>
{% endblock %}
{% block body %}
<div class="container background-div">
        <h1>Create a new group:</h1>
    <div class="row">
        <div class="col add-group-form">
                <div class="form-floating mb-3">
                    <input type="text" 
                        class="form-control focus-ring" 
                        id="floatingGroupName" 
                        name="name-field" 
                        placeholder="Choose Group Name"
                        required>
                    <label for="floatingGroupName">Group Name</label>
                </div><br>
                <div id="members-div">
                    <button class="btn" id="add-more-members">Add another member</button>
                    <br><br>
                </div>
                <br><br>
                <button class="btn" type="button" id="new-group-submit">Create Group</button>
                <br><br>
        </div>
    </div>
</div>
{% endblock %}
{% block after_body %}
<script src="/static/js/createGroup.js"></script>
{% endblock %}