{% extends 'base.html' %}
{% block title %}Create a new group!{% endblock %}

{% block body %}
<div class="container">
<h1>Create a new group:</h1>
<div class="container">
<form action="/add-group" method="POST">
    <p>
    Group Name:<input type="text" name="name-field" id="name-field" required>
    </p>
    <br><br>
    <ul id="members">
        <button id="add-more-members">Add another member.</button>
    </ul>
    <button type="button" id="new-group-submit">Create Group</button>
    <br><br>
</form>
</div>
</div>
{% endblock %}
{% block after_body %}
<script src="/static/js/createGroup.js"></script>
{% endblock %}