{% extends 'base.html' %}
{% block title %}{{current_user.fname}} Dashboard{% endblock %}
{% block head %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
<style>
    .background-div::before {
        content: "";
        background-image: url("/static/img/squares_background.svg");
        background-repeat: space;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.25;
        z-index: -1;
    }
</style>
{% endblock %}

{% block body %}
<div class="background-div">
    <br><br>
    <h1>Hello {{current_user.fname}}!</h1>
    <div class="container-fluid">
        <div class="row">
            {% if unread_notifications %}
            <div class="notification-div">
            <h3>New Notifications</h3>
            <ul>
                {% for notification in unread_notifications %}
                    <li class="unread-notification">
                    {{notification}}
                    </li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
        </div>
        <div class="dash-row-1">
            <div class="dash-col-1">
                <h2>My Events</h2>
                    <ul>
                    {% for event in current_user.events %}
                        <li><a href="/events/{{event.event_id}}" class="link-offset-2 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{event.name}}</a></li>
                    {% endfor %}
                    </ul>
            </div>
            <div class="dash-col-2">
                <h2>My Groups</h2>
                <ul>
                    {% for group in current_user.groups %}
                    <li><a href="/groups/{{group.group_id}}" class="link-offset-2 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{group.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    </div>
    <div id="avail-div"></div>
    <script src="/static/js/availability.jsx" type="text/jsx"></script>
</div>
{% endblock %}