{% extends 'base.html' %}

{% block title %} {{ event.name }} - Details {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1>{{ event.name }}</h1>
        <div class="col">
            <p>
                Hosted By: {{event_host.fname}} {{event_host.lname}}
            </p>
            <p>
                For: {{group_name}}
            </p>
            <p>
                Description: {{event.description}}
            </p>      
            <p>
                Date/Time: {{event.datetime}}
            </p>
            <p>
                Activity: {{event.activity}}
            </p>
        </div>
        <a href="/update-event/{{event.event_id}}">Update this event</a>
        <br><br>
        {% if current_user.user_id == event_host.user_id %}
    <p>
        <button type="button" id="delete-event">Delete this event.</button>
        <input type="hidden" id="event_id_num" value={{event.event_id}}>
    </p>
    {% endif %}
    </div>
</div>
<script src="/static/js/deleteEvent.js"></script>
{% endblock %}