{% extends 'base.html' %}

{% block title %} {{ group.name }} - Availability {% endblock %}
{% block head %}<script src="
https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js
"></script>
<style>
    .background-div::before {
        content: "";
        background-image: url("/static/img/yellow_squares.svg");
        background-repeat: space;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.25;
        z-index: -1;
    }
</style>
{% endblock %}
{% block body %}
<div class="background-div">
<div class="container-fluid">
    <h1>{{ group.name }}</h1>
</div>
<div id="calendar"></div>
<h2>Availability</h2>
<div class="avail-cal-row">
        {% for member in members %}
            <div class="group-avail">
                <h4>{{member.fname}}</h4>
                {% for availability in member.availabilities %}
                <p>{{availability.weekday}}: {{availability.start}} to {{availability.end}}</p>
            {% endfor %}
                </div>
        {% endfor %}
</div>
</div>
<script src="/static/js/groupAvailability.js"></script>
{% endblock %}