{% extends 'base.html' %}

{% block title %} {{ group.name }} - Details {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    <h1>{{ group.name }}</h1>
        <div class="col">
            <p>
                Created By: {{group_creator.fname}} {{group_creator.lname}}
            </p>
        </div>
        <div class="col">
            <p>
                Members: 
                <ul>
                    {% for user in members %}
                        <dl>{{user.fname}} {{user.lname}}</dl>
                        <dt>{{user.email}}</dt>
                    {% endfor %}
                </ul>
            </p>
            <p>
                <form action="/new-group-member", method="POST">
                    Add a new member to this group:
                    <input type="text" name="user_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}">
                    <input type="hidden" name="group_id" value="{{group.group_id}}">
                    <button type="submit">Add</button>
                </form>
            </p>
        </div>
    <p>
        <a href="/groups/{{group.group_id}}/availability">See this group's availability.</a>
    </p>
    {% if current_user.user_id == group_creator.user_id %}
    <p>
        <button type="button" id="delete-group">Delete this group.</button>
        <input type="hidden" id="group_id_num" value={{group.group_id}}>
    </p>
    {% endif %}
    </div>
</div>
<script src="/static/js/deleteGroup.js"></script>
{% endblock %}