{% extends 'base.html' %}
{% block title %}DM Project Home{% endblock %}
{% block head %} 
<style>
    body {
        background: url("/static/img/landing_img.jpg") no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid" id="homepage-div">
    <br><br>
    <div class="row justify-content-evenly">
        <div class="col-4" id="login-field">
            <br><br>
            <h1>Welcome!</h1>
            <br>
            <form action="/login" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control focus-ring" id="floatingInput" name="email" placeholder="Email Address">
                    <label for="floatingInput">Email Address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control focus-ring" id="floatingPassword" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <br>
                <p>
                    <button type="submit" class="btn btn-lg">Login</button>
                </p>
            </form>
            <div id="new-account-link">
            <a href="/new-account">Create New Account</a>
            </div>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}