{% extends 'base.html' %}
{% block title %}When To Chill{% endblock %}
{% block head %} 
<style>
    .background-div::before {
        content: "";
        background-image: url("/static/img/home_bg.svg");
        background-size:50%;
        background-repeat: no-repeat;
        background-position: bottom center;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
    }
</style>
{% endblock %}

{% block body %}
<div class="background-div">
    <br><br>
<div class="container-fluid" id="homepage-div">
    <br><br>
    <div class="row justify-content-evenly">
        <div class="col-4" id="login-field">
            <img src="/static/img/wtc_logo_no_bg.png" class="img-fluid" id="logo">
            <h1 style="color:#72B3E7">Let's Chill!</h1>
            <br>
            <form action="/login" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control focus-ring" id="floatingInput" name="email" placeholder="Email Address">
                    <label for="floatingInput">Email Address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control focus-ring" id="floatingPassword" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <br>
                <p>
                    <button type="submit" class="btn btn-lg">Login</button>
                </p>
            </form>
            <div id="new-account-link">
            <a class="btn btn-lg" href="/new-account">Create New Account</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Why When To Chill?</h2>
            <div class="about-us-div">
                <p>You're busy, we get it. Us, too.</p>
                <p>When To Chill makes navigating adult friendships a little easier by allowing you to set your regular 
                    availability for the whole group to see. Plan events with a few simple clicks for a date and time you 
                    know works for your crew. No need to spam the group chat to know when to chill.</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}